# necessary libraries
bs4
certifi
datetime
docx
extra-streamlit-components
fpdf
gspread
helper
hydralit_components
iPython
Pillow
pprintpp
pypi-json
pysqlite3
joblib
matplotlib
nltk
numpy
openpyxl
pandas
pybase64
Regex
requests
spacy
streamlit
streamlit-aggrid
streamlit_searchbox
tensorflow
urllib3
warn
browser
wikipedia
wikipedia-api


